
* {
	margin: 0;
	padding: 0;
	color: inherit;
	box-sizing: inherit;
}


body {
    font-size: 16px;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */           
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

header {
    width: 100%;
    margin: 1em;
    background-color: rgba(0,255,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h2 {
    display: inline;
}

header span {
    width: 50%;
    margin-left: 40px;
    display: flex;
    justify-content: space-evenly;
}

nav {
    justify-content: end;

}

nav a {
    color: #212527;
    padding: 10px;
    /* text-transform: uppercase; */
    font-weight: 600;
}

nav a:hover {
    color: #000;
    background-color: cornsilk;
    opacity: .5;
}

.warning {
    background-color: darkred; 
    color: #f1f1f1; 
    text-align: center;
}

.project-card {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* .project-card:hover {
    background-color: rgb(201, 201, 201);
} */

a.button {

    border: 1px solid gray;
    border-radius: 7px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: initial;
    background-color: white;
    font-weight: 500;
}

.task-group {
    margin: 6em auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.task-col {
    /* text-align: center; */
    min-width: 300px;
    width: 25%;
    max-width: 400px;
    height: 500px;
    margin-left: 10px;
    margin-right: 20px;
    padding-right: 3px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211);
    box-shadow: inset 0 0 3px #000000;
}

.col-header {
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid gray; */
    /* margin-bottom: 10px; */
    padding: 5px;
}

.col-name {
    padding-left: 10px;
    font-size: 2em;
    font-weight: 700;
}

.col-body {
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 84%; */
}

.col-footer {
    height: 100px;
}

.task-card {
    background-color: white;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 10px 0 10px 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 6px 6px -6px black;
    overflow: hidden;
}

.task-name {
    overflow: auto;
}

.task-card .options {
    position: absolute;
    right: 0;
    margin-top: -10px;
    width: 0px;
    height: 100%;
    border-left: 0.5px solid rgb(224, 224, 224);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* opacity: 0; */
    transition: width 0.5s ease;
    z-index: 0;
    /* background-color: red; */
}

.task-card:hover .options {
    width: 45px;
    /* opacity: 1; */
    /* background-color: green; */
}

.options a {
    text-decoration: none;
    color: initial;
    width: 100%;
}

.options i {
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out;
}

.options i:hover {
    font-size: 1.3em;
}

.options .fa-pencil:hover {
    color: green;
    animation: scribble 0.5s;
    animation-iteration-count: infinite;
}

@keyframes scribble { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
 }

.task-stats {
    text-align: center;
    padding-left: 3px;
}

.task-stats img {
    width: 25px;
    border-radius: 100px;
}

.task-stats span {
    font-size: .8em;
    display: block;
    width: 40px;
    overflow: hidden;
    padding-right: 3px;
}
/* .fa-chevron-left, .fa-chevron-right {
    padding: 5px 0 5px 0;
} */

.button {
    height: 100%;
    width: 100%;
    background-color: #0575E6;
    /* border: 1px solid  */
    /* border-radius: 5px; */

    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #456c7c, #41616b, #192930);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4098b681, #94c1d38c, #4093af81); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button:hover {
    /* border: 1px solid white */
    box-shadow: rgba(0, 0, 0, 0.35) 2px 10px 15px;
}

.fa-chevron-left:hover {
    animation-name: slide-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes slide-left { 
    0% { transform: translate(0px); } 
    50% { transform: translate(-15px); } 
    100% { transform: translate(0px); } 
 }

 .to-do i.fa-chevron-left {
    color: gray;
    cursor: auto;
    animation: none;
    font-size: 1em;
}

.fa-chevron-right:hover {
    animation-name: slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes slide-right { 
    0% { transform: translate(0px); } 
    50% { transform: translate(15px); } 
    100% { transform: translate(0px); } 
 }

 .completed i.fa-chevron-right {
    color: gray;
    cursor: auto;
    animation: none;
    font-size: 1em;
}

.add-task {
    text-decoration: none;
    color: initial;
    display: block;
    margin-left: 5px;
    padding-left: 5px;
    margin-top: 5px;
    width: 80%;
    border-radius: 10px;
}

.add-task:hover {
    cursor: pointer;
    border: 1px solid blue;
}
		
.completed .task-name {
    text-decoration: line-through
}
.completed .task-card {
    opacity: .7;
}

/* .edit-project-label {
    padding-left: 10px;
} */


/* Custom scrollbar: https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
    /* Firefox only */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.3) F5F5F5;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
  }
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }


  .task-name::-webkit-scrollbar {
    height: 5px;
    background-color: rgba(0,0,0,0);
  }

  @media only screen and (max-width: 641px) {
	header {
        display: block;
	}
}