* {
	margin: 0;
	padding: 0;
	color: inherit;
	box-sizing: inherit;
}


body {
    background-color: green;
}

.toolbar {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 5px;
}
a.button {

    border: 1px solid gray;
    border-radius: 2px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: initial;
    background-color: rgb(241, 241, 241);
}

.task-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
}

.task-col {
    /* text-align: center; */
    min-width: 300px;
    height: 500px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: lightgrey;
}
.col-header {
    margin: 5px;
}
.col-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 88%;
}
.col-footer {
    height: 100px;
}

.task-card {
    background-color: white;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.task-card .options {
    position: absolute;
    right: 0;
    margin-top: -10px;
    width: 40px;
    height: 100%;
    border-left: 0.5px solid rgb(224, 224, 224);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
    display: none;
}
.task-card:hover .options {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.options a {
    text-decoration: none;
    color: initial;
    width: 100%;
}
.options i {
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
}

.task-stats {
    text-align: center;
    padding-left: 3px;
}
.task-stats img {
    width: 25px;
    border-radius: 100px;
}
.task-stats span {
    font-size: .8em;
    display: block;
    padding-right: 3px;
}

.fa-chevron-left, .fa-chevron-right {
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 5px;
}

.to-do .fa-chevron-left {
    color: gray;
    cursor: auto;
}

.completed .fa-chevron-right {
    color: gray;
    cursor: auto;
}

.add-task {
    text-decoration: none;
    color: initial;
    display: block;

    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    width: 80%;
    border-radius: 10px;
}
.add-task:hover {
    cursor: pointer;
    border: 1px solid blue;
}
		
.completed .task-name {
    text-decoration: line-through
}
.completed .task-card {
    opacity: .7;
}






/* Custom scrollbar: https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
    /* Firefox only */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.3) F5F5F5;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
  }
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
