<div class="mask doc-mask">
    <div class="doc-container">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSKKn_XiT48kaXK3Njpu4YEbA2XBxeZ2stGyliVWmdmj-CsjjZ2kcZqrhHYJnqtepfZ5hP3GC79JzbO/pub?embedded=true"></iframe>
    </div>
</div>