<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyDo</title>
</head>
<body>
  <h1>Tasks</h1>
  <div class="toolbar">Toolbar</div>
  <div class="task-group">
    <div class="task-col">
      <div class="col-header">
        <span class="col-name">To Do</span>
      </div>
    </div>
    <div class="task-col">
      <div class="col-header">
        <span class="col-name">In Progress</span>
      </div>
    </div>
    <div class="task-col">
      <div class="col-header">
        <span class="col-name">Completed</span>
      </div>
    </div>
  </div>

</body>
</html>