<!DOCTYPE html>
<html lang="en">
<head>
  <script defer src="https://use.fontawesome.com/968ba4c321.js"></script>
  <link rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyDo</title>
</head>
<body>
  <h1>Tasks</h1>
  <div class="toolbar">
    <h2>Toolbar</h2>
    <a class="button" href="/tasks/new">Add Task</a>
    <a class="button" href="/tasks/new">Add Collaborator</a>
  </div>
  <div class="task-group">

    <!-- To Do -->
    <div class="task-col to-do">
      <div class="col-header">
        <span class="col-name">To Do</span>
      </div>

      <div class="col-body">
        <% tasks.forEach(task => { %>
          <% if(task.stage === 'to-do') { %>
            <%- include('task-card', {task: task}); %>
          <% } %>
        <% }); %>
      </div>

      <div class="col-footer">
        <a class="add-task" href="/tasks/new">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>Add Task</span>
        </a>
      </div>

    </div>

    <!-- In Progress -->
    <div class="task-col in-progress">
      <div class="col-header">
        <span class="col-name">In Progress</span>
      </div>
        <% tasks.forEach(task => { %>
          <% if(task.stage === 'in-progress') { %>
            <%- include('task-card', {task: task}); %>
          <% } %>
        <% }); %>
    </div>

    <!-- Completed -->
    <div class="task-col completed">
      <div class="col-header">
        <span class="col-name">Completed</span>
      </div>
        <% tasks.forEach(task => { %>
          <% if(task.stage === 'completed') { %>
            <%- include('task-card', {task: task}); %>
          <% } %>
        <% }); %>
  </div>

</body>
</html>