<div class="task-card">
    <span><%= task.name %></span>
    <div class="task-stats">
      <img src="/images/default-profile.png" alt="profile">
      <span><%= task.collaborators %></span>
      <span><%= task.completionTime %></span>
    </div>
    <div class="options">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <i class="fa fa-chevron-left" aria-hidden="true" disabled></i>
    </div>
  </div>