<head>
    <script defer src="https://use.fontawesome.com/968ba4c321.js"></script>
    <script defer src="/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/forms.css">
  </head>
  
  <div class="mask">
      <div class="popup-container">
  
          <h1 class="form-title">Projects</h1>
          <hr>

          <!-- Cancel Button -->
          <a href="/logout" class="close-btn"><i class="fa fa-times"></i></a>

          <!-- Project List Container -->
          <h2 class="project-list-label">In Progress</h2> 
          <div class="project-list">
            <% projects.forEach(project => { %>
                <div class="project-card">
                      <a href="/tasks/<%= project._id %>"><span class="currentProjectLinks"><%= project.name %></span></a>
                        <a href="/projects/<%= project._id %>/edit">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </span>
                </div>
              <% }); %>
          </div>

          <h2 class="project-list-label">New Project</h2> 

          <form class="add-project" action="/projects" method="POST">
            <div class="add-project-form">
              <!-- <label for="name">Create New</label> -->
              <input class="form-control" type="text" placeholder="Project name" id="name" name="name" required/>
              <button class="btn btn-success add-project-btn" type="submit">Add Project</button>
            </div>
          </form>
  
          <!-- <button class="btn btn-primary submit-btn">Finished</button> -->
          <a href="/logout" class="btn btn-primary submit-btn">Log out</a>

      </div>
  </div>