<head>
    <script defer src="https://use.fontawesome.com/968ba4c321.js"></script>
    <script defer src="/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/forms.css">
  </head>
  
  <div class="mask">
      <div class="popup-container">
  
          <h1 class="form-title">Projects</h1>
          <hr>
          <!-- Cancel Button -->
          <a href="/logout" class="close-btn"><i class="fa fa-times"></i></a>
          
          <p class="collab-list-label">In Progress</p> 
          <!-- TO DO: add list of COMPLETE tasks -->
          <div class="collab-list">
            <% projects.forEach(project => { %>
                <div class="project-card">
                    <% if(project._id.toString() !== "5f0cd8b9fed32e492a3170c1") { %>
                      <a href="/tasks/<%= project._id %>"><span class="currentProjectLinks"><%= project.name %></span></a>
                    <% } else { %>
                      <span id="not-assigned"><%= project.name %></span>
                    <% } %>
                </div>
              <% }); %>
          </div>


          <form class="add-collab" action="/projects" method="POST">
            <div class="form-group">
              <label for="name">Create New</label>
              <input class="form-control" type="text" placeholder="Project name" id="name" name="name" required/>
              <button class="btn btn-success add-collab-btn" type="submit">Add Project</button>
            </div>
          </form>
  
          <!-- <button class="btn btn-primary submit-btn">Finished</button> -->
          <a href="/logout" class="btn btn-primary submit-btn">Log out</a>

      </div>
  </div>