<!DOCTYPE html>
<html lang="en">

<head>
  <script defer src="https://use.fontawesome.com/968ba4c321.js"></script>
  <script defer src="/app.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/forms.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyDo</title>
</head>

<body>
  <header>
    <a href="/"><img src="/images/logo.png" alt=""></a>
    <span>
      <a class="button btn btn-primary" href="/tasks/new">Add Task</a>
      <a class="button btn btn-primary" href="/collaborators/">Add Collaborator</a>
      <a id="doc-btn" class="button btn btn-primary">View Doc</a>
    </span>
    <span>
      <a class="button btn btn-primary" href="./login">Login</a>
      <a href="../views/auth/login">Login</a>
      <a class="button btn btn-primary" href="./logout">Logout</a>
      <a href="../views/auth/login">Logout</a>

    </span>
  </header>
<h3>jimmy will edit this views page
</h3>
<%= user.name %>

</body>

</html>